.modify-team_modal-title {
  text-align: center;
}

#modify-team_modal {
  padding: 8px 32px 16px;
  display: flex;
  flex-direction: column;

  .modify-team_fields {
    margin-top: 24px;
  }

  .modify-team_controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    #modify-team_controls-cancel {
      margin-right: 12px;
    }
  }
}