.app-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 144px;

  > .app-card_action {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;

    > .app-card_content {
      > .app-card_header {
        padding-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;

        > h6 {
          padding-left: 8px;
        }
      }
    }
  }
}