#app-not-found {
  padding: 32px 16px;

  &_img-container {
    width: 90%;
    max-width: 650px;
    margin: 32px auto 0 auto;

    img {
      width: 100%;
    }
  }

  &_back {
    margin-left: auto;
  }
}