#app-not-found {
  padding: 32px 16px;

  .app-not-found_img-container {
    width: 90%;
    max-width: 650px;
    margin: auto;

    img {
      width: 100%;
    }
  }

  #app-not-found_back {
    margin-left: auto;
  }
}