#app-admin_results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-content {
    flex-grow: 1;
    margin-top: 16px;

    &_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
    }
  }

  #app-admin_results-modal {
    z-index: 10000;

    &_content {
      width: 100vw;
      height: 100vh;
      padding: 16px 32px;

      &-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
      }

      &-table {
        width: 100%;

        th, td {
          font-size: 24px;
        }
      }
    }
  }
}