#app-admin_home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-content {
    flex-grow: 1;
    display: grid;

    .grid {
      margin: auto;
    }
  }
}