#app-admin_logs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-content {
    flex-grow: 1;
    margin-top: 64px;
  }
}