#app-teams_modal-create {
  &_title {
    text-align: center;
  }

  &_form {
    display: flex;
    flex-direction: column;
    padding: 8px 32px 16px;

    > .fields {
      margin-top: 24px;
    }

    &-controls {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;

      &_cancel {
        margin-right: 12px;
      }
    }
  }
}