#admin-teams {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .admin-teams_title {
    text-align: center;
  }

  .admin-teams_content {
    flex-grow: 1;
    margin-top: 16px;

    > .admin-teams_content-info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 12px;
    }
  }
}