#app-admin_teams {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-content {
    flex-grow: 1;
    margin-top: 16px;

    &_info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 12px;
    }
  }
}